{% load staticfiles %}

body {
  padding-top: 50px;

  background: url("/static/img/graphy/graphy.png");
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.link-styler {
	text-decoration: underline;
	border-radius: 5px;
	color: blue;
	padding: 2px;
}
.link-container{
	width: 250px;
	border: 1px solid;
}
.link {
	margin: 0px; 
	margin-top:1%;
}

.center {
	text-align: center;
}
.center > * {
	display: inline-block;
}