{% load staticfiles %}

body {
  padding-top: 50px;

  background: url("/static/img/graphy/graphy.png");
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center {
	text-align: center;
}
.center > * {
	display: inline-block;
}